body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(45deg, #dcd0ff, #9b59b6);
}

.logOut {
  background-color: #e74c3c;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 4px 8px;
  margin-left: 8px;
  
}

.glass{
    background: linear-gradient(225deg, rgba(155, 89, 182, 0.4), rgba(220, 208, 255, 0.4));
    backdrop-filter: blur(8px);
}

#title_view {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  margin-top: 20px;
  color: #333333;
}

.whole {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25px;
    align-items: center;
    background-color: #dcd0ff;
    height: 90vh; /* 90% of the viewport height */
    width: 1400px;
    margin: 0 auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

.cards {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  width: 100%;
  margin-bottom: 50px;
}

.card {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid;
  border-radius: 10px;
  border-color: rgb(175, 175, 175);
  box-sizing: border-box;
  padding: 15px;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  background-color: #9b59b6; /* Card background color */
  color: #fff; /* Text color */
}

.card img {
  max-width: 10px;
  max-height: 10px;
}

.card-text {
  text-align: center;
  margin-top: 8px;
  font-size: 20px;
}

.card:hover {
  background-color: #8e44ad; /* Hover background color */
  transform: translateY(-5px);
}
